/*
Theme Name: Projeto Final Comes e Bebes
Theme URI: https://injunior.com.br/
Author: Equipe Projeto Final Comes e Bebes
Author URI: https://injunior.com.br/
Description: Tema do Projeto Final Comes e Bebes
*/

body{
    background-color: #E7FAFE;
}

.title-title{
    font-weight: 300;
}
