/*Selecione uma Categoria*/
.tudo{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}
.h1archive {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    
    color: #333333;
    width: 1000px; 






}
.block{
    width: 240px;
    height: 210px;
    display:flex;
    flex-direction: column;

}
.categorias{
    display: flex;
gap: 20px;
    
}
.text34{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    font-family: 'Bellota Text';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;

color: #E5E5E5;
text-decoration: none;
}
#oi{
    display: flex;
    flex-direction: column;

    align-items:center;
    gap: 24px;



}
.categorias img{
    width: 300px;
    height: 200px;
}

/*Área de busca*/
#pratos{
    display:flex;
    flex-direction: column;
    gap:20px;
}
#pdaarchive{
    font-family: 'Bellota Text';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #000000;
}
#buscar{
display: flex;
flex-direction: column;
gap:15px;
}
#caixa{
display: flex;
gap: 400px;
}
#ordenar{
    display:flex;
    flex-direction: column;
    gap:18px;
}
.inputbruna3 :first-child{
    background-color: #E7FAFE;
    border: none;
    border-bottom: 1px solid #6A066D;
    
    box-sizing: border-box;

}
#filtro{
display: flex;
gap:20px;
flex-direction: column;
}
#ord{
    border: none;
    border-bottom: 2px solid #6A066D;
}
#brunass{
    display: flex;
    gap: 20px;
}
#s{
    border: none;
    border-bottom:2px solid #6A066D; 
    background-color:#E7FAFE;
    width: 412px;
}
#inputbruna2{
    border: none;
    border-bottom:2px solid #6A066D; 
    background-color:#E7FAFE;
    width: 150px;
}
#inputbruna3{
    border: none;
    border-bottom:2px solid #6A066D; 
    background-color:#E7FAFE;
    width: 150px;
}
.labelarchive{
    font-family: 'Bellota Text';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #000000;
}

/*Block de Prato*/
#nomeproduto{
        font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    color: #FAFAFA;
}
.cardprato {
    width: 240px;
    height: 373px;
    display: flex;

}
.oi3{
    width: 240px;
    height: 105px;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    display:flex;
    gap: 44px;
    flex-direction: column;

}
#preco{
    font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
/* identical to box height */


color: #FAFAFA;
}
.oi2{
    gap: 135px;
    display: flex;

}

.foraloop{
    display:flex;
    gap: 20px;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
}
.img img{
    width: 240px;
    height: 370px; 
}
.vixi{
    height: 37px;
width: 40px;
background-color:#F5C661;
border: none;
;
}