
.billing_email input{
    background-color: #E7FAFE;
    border: none;
    border-bottom:2px solid #6A066D;
}
.billing_name input{
    background-color: #E7FAFE;
    border: none;
    border-bottom:2px solid #6A066D;
    
}
.billing_last_name input{
    background-color: #E7FAFE;
    border: none;
    border-bottom:2px solid #6A066D;
}
.billing_phone input{
    background-color: #E7FAFE;
    border: none;
    border-bottom:2px solid #6A066D;
}
.billing_phone2 input{
    background-color: #E7FAFE;
    border: none;
    border-bottom:2px solid #6A066D;
}
.billing_postcode input{
    background-color: #E7FAFE;
    border: none;
    border-bottom:2px solid #6A066D;
}
.billing_address_1 input{
    background-color: #E7FAFE;
    border: none;
    border-bottom:2px solid #6A066D;
}
.billing_address_2 input{
    background-color: #E7FAFE;
    border: none;
    border-bottom:2px solid #6A066D;
}
.billing_address_22 input{
    background-color: #E7FAFE;
    border: none;
    border-bottom:2px solid #6A066D;
}
.billing_city input{
    background-color: #E7FAFE;
    border: none;
    border-bottom:2px solid #6A066D;
}
.checkoutdabruna{
    font-family: 'Bellota Text';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #000000;


}
.bcheck{
    border:2px solid #6A066D;
    width: 200px;
height: 74px;
}
#checkin{
    border: none;
    border-bottom:2px solid #6A066D;
    background-color:#E7FAFE ;
    width: 610px;
}
#checkin2{
    border: none;
    border-bottom:2px solid #6A066D;
    background-color:#E7FAFE ;
    width: 292px;
}
#checkin3{
    border: none;
    border-bottom:2px solid #6A066D;
    background-color:#E7FAFE ;
    width: 296px;
}
.pdocheckout{
    font-family: 'Bellota Text';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #000000;
}
.botaobruna{
    display: flex;
    gap: 60px;
}
.paybruna{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 6rem;
}
.divbruna{
    display: flex;
    gap: 20px;
}
#order_review_heading{
    display: none;
}
#ric{
display: none;
}
#bruna5666{
    border-right: 1px solid #000000;
}
#customer_details{
    display: flex;
    gap:100px;
}
.brunachecksect{
    display: flex;
    flex-direction: column;
    gap:20px;
}
#order_review{
    display: none;
}