footer {
    background-color: #F5C661;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    align-items:center;
    justify-content: space-around; 
    margin-top: auto;
    
}
#pfooter{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

fasfa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    text-align: center;
}