html {
    height: 98%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #E7FAFE;
}
header{
    background-color: #7A247D; 
    display: flex;
    min-height: 77px;
    align-items:center;
    justify-content: space-around; 
}

#fazer_pedido{
    background-color: #F5C661;
    display: flex;
    min-height: 41px;
    min-width: 182px;
    align-items:center;
    justify-content: space-around;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}
#s1{
    background-color: #7A247D;
    border: none;

    height: 10px;
    min-width: 412px;
    border-bottom: 2px solid #F5C661;
    height: 30px;

}
#block1{
    gap: 20px;
    height: 50px;
    display: flex;
}

#block12{
  display: flex;
}
#block12 img{
    height: 20px;
width: 18.707000732421875px;


}

#fazer_pedido{
    text-decoration: none;
}
#block2{
    display: flex;
    gap:30px;
}


.cart-st{
    min-width:100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    align-items: right;
    display: flex;
    justify-content: end;
    opacity: 0.6;
    z-index: 4;
}

.itens-cart{
    width: 530px;
    min-height: 100%;
    opacity: 1.0;
    background: #F5C661;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 5;
    padding: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.zerar{
    width: 0px;
    height: 0px;
}
.title {
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-top:5px;
    color: #6A066D;

}
.linha{
    width: 451px;
    

    
    border: 1px solid #6A066D;
}
.close {
    width:100%;
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    height: 23px;
    color: #000000;
    text-align: right;
}
.close a{
    color: #000000;
    text-decoration: none;
}

.min-cart-invisible{
    visibility:hidden;
    height: 0;
}

.min-cart-visible{
    width: 451px;
}

td {
    background-color: #D7F6FD;;
}