.tudinho{
    display: flex;
    flex-direction: column;
    gap:40px;
    align-items: center;
}
/*Primeira parte*/
.woocommerce-breadcrumb {
    display: none;
}
#sidebar{
    display:none;
}
.price420{
    font-family: 'Bellota Text';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
text-align: justify;

color: #000000;
}
.product_title{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: justify;
    
    color: #000000;
}
p{
    font-family: 'Bellota Text';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: justify;

color: #000000;
}
.secaosp {
    display: flex;
    gap: 100px;
    width: 1000px;
    align-items: center;



}
.secaosp img{
    height: 249px;
width: 392px;


}
.secaosp input{
background-color: #E7FAFE;
border: 1px solid #6A066D;

}
.figura{
    height: 249px;
    width: 392px;
    
}
.woocommerce-product-gallery{
    height: 249px;
    width: 392px;
    
}
.secaosp2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.secaosp2 button{
    height: 41px;
    width: 165px;
    
font-family: 'Bellota Text';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #FFFFFF;


}
.botao-preco{
    display: flex;
    gap: 200px;
}
#psp{
    font-family: 'Bellota Text';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;

color: #000000;
}


/*cards pratos */
#nomeproduto{
    font-family: 'Bellota Text';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
/* identical to box height */


color: #FAFAFA;
}
.cardprato {
width: 240px;
height: 373px;
display: flex;

}
.oi3{
width: 240px;
height: 105px;
background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
display:flex;
gap: 44px;
flex-direction: column;

}
#preco{
font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
/* identical to box height */


color: #FAFAFA;
}
.oi2{
gap: 135px;
display: flex;

}

.foraloop2{
display:flex;
gap: 40px;
width: 1200px;
justify-content: center;
align-items: center;

}
.img img{
width: 240px;
height: 370px; 
}
.vixi{
height: 37px;
width: 40px;
background-color:#F5C661;
border: none;
;
}